language: cpp
os: linux
dist: bionic
addons:
  apt:
    sources:
      - sourceline: 'deb https://apt.kitware.com/ubuntu/ bionic main'
        key_url: 'https://apt.kitware.com/keys/kitware-archive-latest.asc'
    packages:
      - autoconf
      - automake
      - bsdtar
      - cmake
      - fakeroot
      - file
      - libtool-bin
      - pkg-config
      - texinfo
      - xutils-dev
env:
  - DOLCESDK="$TRAVIS_BUILD_DIR/dolcesdk"
    PATH="$DOLCESDK/bin:$PATH"
before_script:
  - sudo rm -rf /usr/local/cmake-* # workaround to remove default cmake that has priority in PATH
stages:
  - prepare
  - build-stage-0
  - build-stage-1
  - build-stage-2
  - build-stage-3
  - build-stage-4
  - build-stage-5
  - build-stage-6
  - build-stage-7
  - build-stage-8
jobs:
  include:
    - stage: prepare
      workspaces:
        create:
          name: prepare
          paths: "$TRAVIS_BUILD_DIR"
      script:
        - .travis.d/prepare.sh
    - stage: build-stage-0
      workspaces:
        use: prepare
        create:
          name: build-stage-0
          paths: "$TRAVIS_BUILD_DIR"
      script:
        - set -e
        - .travis.d/build.sh "zlib"
        - .travis.d/build.sh "bzip2"
        - .travis.d/build.sh "libzip"
        - .travis.d/build.sh "libpng"
        - .travis.d/build.sh "libexif"
        - .travis.d/build.sh "libjpeg-turbo"
        - .travis.d/build.sh "jansson"
        - .travis.d/build.sh "yaml-cpp"
    - stage: build-stage-1
      workspaces:
        use: build-stage-0
        create:
          name: build-stage-1
          paths: "$TRAVIS_BUILD_DIR"
      script:
        - set -e
        - .travis.d/build.sh "freetype"
        - .travis.d/build.sh "harfbuzz"
        - .travis.d/build.sh "fftw"
        - .travis.d/build.sh "libvita2d"
        - .travis.d/build.sh "libvita2d_sys"
        - .travis.d/build.sh "libmad"
        - .travis.d/build.sh "libogg"
        - .travis.d/build.sh "libvorbis"
    - stage: build-stage-2
      workspaces:
        use: build-stage-1
        create:
          name: build-stage-2
          paths: "$TRAVIS_BUILD_DIR"
      script:
        - set -e
        - .travis.d/build.sh "flac"
        - .travis.d/build.sh "mpg123"
        - .travis.d/build.sh "libtremor"
        - .travis.d/build.sh "libmikmod"
        - .travis.d/build.sh "libftpvita"
        - .travis.d/build.sh "henkaku"
        - .travis.d/build.sh "taihen"
        - .travis.d/build.sh "onigmo"
    - stage: build-stage-3
      workspaces:
        use: build-stage-2
        create:
          name: build-stage-3
          paths: "$TRAVIS_BUILD_DIR"
      script:
        - set -e
        - .travis.d/build.sh "sdl"
        - .travis.d/build.sh "sdl_mixer"
        - .travis.d/build.sh "sdl2"
        - .travis.d/build.sh "sdl2_image"
        - .travis.d/build.sh "sdl2_mixer"
        - .travis.d/build.sh "sdl2_ttf"
        - .travis.d/build.sh "openssl"
        - .travis.d/build.sh "curl"
    - stage: build-stage-4
      workspaces:
        use: build-stage-3
        create:
          name: build-stage-4
          paths: "$TRAVIS_BUILD_DIR"
      script:
        - set -e
        - .travis.d/build.sh "curlpp"
        - .travis.d/build.sh "expat"
        - .travis.d/build.sh "opus"
        - .travis.d/build.sh "unrar"
        - .travis.d/build.sh "glm"
        - .travis.d/build.sh "libxml2"
        - .travis.d/build.sh "speexdsp"
        - .travis.d/build.sh "pixman"
    - stage: build-stage-5
      workspaces:
        use: build-stage-4
        create:
          name: build-stage-5
          paths: "$TRAVIS_BUILD_DIR"
      script:
        - set -e
        - .travis.d/build.sh "taipool"
        - .travis.d/build.sh "libmpeg2"
        - .travis.d/build.sh "soloud"
        - .travis.d/build.sh "quirc"
        - .travis.d/build.sh "libsndfile"
        - .travis.d/build.sh "xz"
        - .travis.d/build.sh "libarchive"
        - .travis.d/build.sh "libmodplug"
    - stage: build-stage-6
      workspaces:
        use: build-stage-5
        create:
          name: build-stage-6
          paths: "$TRAVIS_BUILD_DIR"
      script:
        - set -e
        - .travis.d/build.sh "libconfig"
        - .travis.d/build.sh "libsodium"
        - .travis.d/build.sh "libmathneon"
        - .travis.d/build.sh "vitaGL"
        - .travis.d/build.sh "imgui"
        - .travis.d/build.sh "libbaremetal"
        - .travis.d/build.sh "minizip"
        - .travis.d/build.sh "jsoncpp"
    - stage: build-stage-7
      workspaces:
        use: build-stage-6
        create:
          name: build-stage-7
          paths: "$TRAVIS_BUILD_DIR"
      script:
        - set -e
        - .travis.d/build.sh "lame"
        - .travis.d/build.sh "ffmpeg"
        - .travis.d/build.sh "fnblit"
        - .travis.d/build.sh "libtheora"
        - .travis.d/build.sh "libvitaSAS"
        - .travis.d/build.sh "libShellAudio"
        - .travis.d/build.sh "psp2dbg"
        - .travis.d/build.sh "box2d"
    - stage: build-stage-8
      workspaces:
        use: build-stage-7
        create:
          name: build-stage-8
          paths: "$TRAVIS_BUILD_DIR"
      script:
        - set -e
        - .travis.d/build.sh "libpib"
        - .travis.d/build.sh "glfw"
        - .travis.d/build.sh "physfs"
      deploy:
        provider: releases
        api_key:
          secure: Iq9pGKXRKBlW45VdSNPmHq/atWPebPmj5J6jo1aIrf/TE2mQSyp/b2qMO7Q1s0gEMi4AQRKUO5/iugWtEjK4puA/3uKtlwA6D4jlZr0VdD3i8jD8a0npLRT3ESGoSVul1N5hWov+2AfJYbIq7BgfrqpVPTTMaYx3vA9FyJkzBTieVXvblIe0qoViisjQNLQftSwDyLLgoEAZ8AIbX+WQI7jmpDumP/uIVJb7IVwMbXol2vIWXCtaivmy9F4/btYJLb5EeH6gXlpnYeGai8aRqwBnHLKMR0sGsQKAJfajOCxuqfFjtrUSypFlVNAUqsN0L16dsRN49/fI+SofHnpyKxcd/tH9MrRcoGS6hzzE5sP/dRPCONdRVRyeTi3YkJ6P8+iqoZzecOSlqAaeqfP3GO1NaZZSTt22BZzRJw3LM0HZ78e4MRvh+7+VCHX4rQnwFA2QrjfSDjV9+xErDjo/f+zgVvu5dbCknFG/taeAPy1poIQ7G3xN/emkV0HHyDchyup6Qtmlz21RpRDytRtN3ACsBGLqxYznc7o/9bMfS9swxB7jbfeOg1LQ2jym2JvKv8rai7H3F+SkNV6LOCrFq3XYr1AnEPFvbcRZDbdIj3NjilPAf45R1tYzGIxGSqbCgCwan8tFJ2jI78KevqV0CweD0wTtDmrSNFRPuCj3Eeo=
        file_glob: true
        file: deploy/*
        skip_cleanup: true
        on:
          tags: true
          repo: DolceSDK/packages
